*,
*::after,
*::before {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  padding: 22px 0px;
  background-color: paleturquoise;
}
.title{
  font-size: xx-large;
  color: grey; 
}
body{
  background-color: #E5F9F9;
  font-family: cursive;
}
.message{
  padding: 25px;
  font-size:x-large;
  text-align: center;
  color: grey;
}

.gameboard{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 454px;
  height: 454px;
  border: 2px solid grey;
  margin: 0px auto;
}
.cell{
  width: 150px;
  height: 150px;
  border: 1px solid grey;
  font-size: 100px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.cell:hover{
  background-color: #f1ffff;
}
.re{
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.restart{
  height: 50px;
  width: 75px;
  font-size: large;
  border-radius: 5px;
  background-color: paleturquoise;
  color: grey;
  cursor: pointer;
}
.restart:active{
background-color: rgb(117, 204, 204);
}